schemas/address-map.rnc

start = address-map

address-map = element address-map {
   attribute xml:base { text }?,
   block+
}

net = element net {
   attribute prefix { text },
   attribute name { text },
   element description { text }?
}

block = element block {
   attribute prefix { text },
   attribute name { text },
   attribute plen { xsd:integer }?,
   element description { text }?,
   ( net* & block* )
}
