schemas/address-map.rnc

####
#### File name:     address-map.rnc
#### Description:   RelaxNG schema for the IPAM <address-map> element
#### Author:        Alexander Gall <gall@switch.ch>
#### Created:       Sep 4 2012
#### RCS $Id$
####

start = address-map

address-map = element address-map {
   attribute xml:base { text }?,
   block+
}

net = element net {
   attribute prefix { text },
   attribute name { text },
   element description { text }?
}

block = element block {
   attribute prefix { text },
   attribute name { text },
   attribute plen { xsd:integer }?,
   element description { text }?,
   ( net* & block* )
}
