schemas/address-map.rnc

start = address-map

address-map = element address-map {
   attribute xml:base { text }?,
   block+
}

desc = element desc {
   text
}

net = element net {
   attribute prefix { text },
   attribute name { text },
   desc?
}

block = element block {
   attribute prefix { text },
   attribute name { text },
   attribute plen { xsd:integer }?,
   desc?,
   ( net* & block* )
}
