schemas/address-map.rnc

start = address-map

description = element description { text }

address-map = element address-map {
   attribute xml:base { text }?,
   block+
}

net = element net {
   attribute prefix { text },
   attribute name { text },
   description?
}

block = element block {
   attribute prefix { text },
   attribute name { text },
   attribute plen { xsd:integer }?,
   description?,
   ( net* & block* )
}
