schemas/zones.rnc

# ##
# ## File name:     zones.rnc
# ## Description:   RelaxNG schema for the IPAM <zones> element
# ## Author:        Alexander Gall <gall@switch.ch>
# ## Created:       Sep 4 2012
# ## RCS $Id: zones.rnc,v 1.4 2012/09/10 15:17:13 gall Exp gall $
# ##
start = zones

zones = element zones {
   attribute xml:base { text }?,
   attribute base { text },
   element zone {
      attribute name { text },
      attribute directory { text },
      empty
   }*
}
